.singleContent{
    display: flex!important;
    flex-direction: column;
    width: 300px!important;
    background-color: rgb(58, 1, 98)!important;
    color: white!important;
    padding: 10px!important;
    margin: 5px!important;
    border-radius: 5px!important;
    position: relative!important;
    height: 100%;
}

.singleContent:hover{
    color:rgb(58, 1, 98);
    background-color: rgb(196, 153, 227)!important;
}

.info{
    display: flex!important;
    justify-content: space-around!important;
    width: 100%;
}

.singleContent h3{
text-transform: uppercase;
text-align: center!important;
}

.vote{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0.6rem;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: 0;
    background-color: rgba(128, 0, 128, 0.708);
    color: white;
}
.poster{
    width: 100%;
  
}


      