*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.app{
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(138, 44, 226,0.8);
    color: white;
    padding-top: 120px!important;
}
@media (min-width:1200px){
    .app{
        padding-top: 100px;
    }
}
@media (max-width:600px){
    .app{
        padding-top: 50px;
    }}

    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h3, h2{
        text-align: center;
    }

*{
    scroll-behavior: smooth;}

.content-pagination{
width: 100%;
display: flex;
justify-content: center;
margin-bottom:4rem;
    }

 .content-pagination li button{
    color:white;
    margin: 0 !important;

 }   